* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.nav-main {
  padding-top: 7px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 52px;
  color: white;
}
.nav {
  background-color: #ff1e1e;
}
.nav-1 {
  display: flex;
  align-items: center;
}
.nav-2 {
  display: flex;
  align-items: center;
}
.nav-1 img {
  margin-right: 4px;
}
.nav-1 span {
  font-family: "Hind Siliguri", sans-serif;
}
.nav-2 span {
  font-family: "Hind Siliguri", sans-serif;
}
.nav-2 img {
  margin-right: 4px;
}
.nav-down {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}
.logo {
  margin-right: 200px;
}
.menu {
  align-items: center;
  margin-right: 160px;
}
.nav-down .menu ul li a {
  text-decoration: none;
  list-style-type: none;
  text-transform: none;
  color: #342b27;
  font-size: 18px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  transition: all linear 0.3s;
}
.nav-down .menu ul li a:hover {
  color: #cf0000;
}
.menu ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
.link {
  display: flex;
  gap: 16.78px;
  display: flex;
}
.link i {
  color: white;
  width: 47px;
  height: 47px;
  background-color: #ff1e1e;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  margin-bottom: 100px;
}
.banner-image {
  background-image: url(/image/Group\ 10721.png);
  width: 1676px;
  height: 766px;
  margin: 0 auto;
  border-radius: 20px;
}
.div-left {
  padding-top: 193px;
  padding-bottom: 171px;
  width: 561px;
}
.div-left p {
  font-family: "Trirong", serif;
  color: #ff7e31;
  font-size: 42px;
  line-height: 120%;
  font-weight: 600;
  margin-bottom: 8px;
}
.div-left h1 {
  font-family: "Inter", sans-serif;
  color: #ff7e31;
  font-size: 92px;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 100px;

  color: #ffffff;
}
.btn {
  display: flex;
  gap: 20px;
}
.btn-1 {
  color: #cf0000;
  border-radius: 41.5px;
  padding: 16px 32px 16px 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  border: none;
}
.btn-2 {
  color: #ffffff;
  border-radius: 41.5px;
  padding: 16px 32px 16px 32px;
  background-color: #ff1e1e;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.project h3,
.s-hedding h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 24px;
  text-align: center;
  color: #1f1e1e;
}
.project h3 span,
.s-hedding h3 span {
  font-family: "Trirong", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 24px;
  font-style: italic;
  text-align: center;
  color: #ff1e1e;
}
.card-main {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.card {
  width: 151px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.card span {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 72px;
  color: #ff1e1e;
  margin-bottom: 16px;
}
.card p {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.build {
  width: 1440px;
  margin: 0 auto;
  border-radius: 24px;
  background-color: #f7fce7;
  margin-bottom: 100px;
}
.flex {
  display: flex;
  gap: 49px;
}
.left {
  width: 643px;
}
.left .p1 {
  /* color: linear-gradient(90deg, #EF473A 0%, #CB2D3E 100%); */
  color: #ef473a;
  padding-top: 61px;
  font-family: "Trirong", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 32px;
  line-height: 120%;
}
.left .p2,
.p3 {
  color: #605f62;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.9px;
  letter-spacing: 0.2px;
}
.btn-new {
  margin-top: 60px;
  display: flex;
  gap: 15px;
}
.left h3 {
  color: #342b27;
  padding-top: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  padding-right: 20px;
  padding-bottom: 30px;
}
.right {
  width: 628px;
}
.flex {
  padding: 60px 0px 60px 0px;
}

.btn-3 {
  color: #cf0000;
  border-radius: 41.5px;
  padding: 16px 32px 16px 32px;
  background-color: #f7fce7;
  border: 1px solid #ef473a;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.services {
  margin: 0 auto;
  width: 1200px;
  margin-bottom: 100px;
}
.s-hedding h3 {
  margin-bottom: 32px;
}
.s-hedding {
  width: 925px;
  margin: 0 auto;
}
.p3 {
  text-align: center;
  padding: 0 54px 0 54px;
  padding-bottom: 30px;
}

.service-btn {
  padding: 8px;
  width: 466px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid#D9D9D9;
  border-radius: 37px;
}
.btn-4 {
  padding: 16px 63px 16px 63px;
  color: #000000;
  border: none;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 25.9px;
  letter-spacing: 0.2px;
  font-size: 24px;
  border-radius: 29px;
}
.btn-5 {
  padding: 16px 64px 16px 64px;
  color: #ffffff;
  border: none;
  background-color: #ff1e1e;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border-radius: 29px;
  line-height: 25.9px;
  letter-spacing: 0.2px;
  font-size: 24px;
}
.s-card {
  margin-top: 60px;
  display: flex;
  gap: 30px;
}
.card-s {
  border-radius: 20px;
  border: 1 px #1f1e1e;
  width: 380px;

  padding: 30px;
  background-color: rgba(153, 212, 224, 0.483);
}
.card-s img {
  margin-bottom: 60px;
}
.card-s h4 {
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
  font-size: 32px;
  color: #1f1e1e;
}
.card-s p {
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 25.9px;
  letter-spacing: 0px;
  font-size: 16px;
  color: #605f62;
}
.feed {
  padding-top: 100px;
  background-color: #fbfbfb;
}
.feed-h,
.feed-c {
  padding-bottom: 60px;
}
.feed-btn button {
  color: #ffffff;
  border-radius: 41.5px;
  padding: 16px 32px 16px 32px;
  background-color: #ff1e1e;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.feed-btn{
    text-align: center;
}
.tour{
    background-color: #FBFBFB;
    padding-top: 100px;
    padding-bottom: 100px;
}
